# Кортежи

### Неизменяемый список

In [5]:
tuple_strings = ('str1', 'str2', 'str3')
#tuple_strings[0] = 'str0'
list_strings = ['str1', 'str2', 'str3']
list_strings[0] = 'str0'
print(tuple_strings)
print(list_strings)

('str1', 'str2', 'str3')
['str0', 'str2', 'str3']

In [1]:
person = ('John', 'Silver', 22)
type(person)

tuple

In [2]:
person_info =['John', 'Silver', 22]
type(person_info)

list

### Применяются для защиты данных

In [3]:
len(person)

3

In [4]:
print(person[0])
print(person[-1])

John
22

In [5]:
person_info[0] = 'Bob'

In [7]:
#person[0] = 'Bob'

In [8]:
person.count('John')

1

In [9]:
person.index('John')

0

# Именованные кортежи (namedtuples)

In [10]:
players = [('Carlsen', 1990, 2842), ('Caruana', 1992, 2822), ('Mamedyarov', 1985, 2801)]
print(players[0])

('Carlsen', 1990, 2842)

In [ ]:
#players[0].name

In [11]:
from collections import namedtuple

In [13]:
Player = namedtuple('Player', 'name age rating')

In [14]:
players = [Player('Carlsen', 1990, 2842), Player('Caruana', 1992, 2822), Player('Mamedyarov', 1985, 2801)]

In [15]:
players[0]

Player(name='Carlsen', age=1990, rating=2842)

In [16]:
# we got class with attributes (instances) name, age and rating
players[0].name

'Carlsen'

In [17]:
p1 = players[0]
print(p1.name)
print(p1.age)
print(p1.rating)

Carlsen
1990
2842