# Множества - итерируемый математический объект

In [4]:
my_set = set()

In [6]:
print(my_set)
print(type(myset))

set()
<class 'set'>

In [7]:
myset.add(1)
myset

{1}

In [8]:
myset.add(2)
myset

{1, 2}

In [9]:
myset.add(2)
myset

{1, 2}

In [10]:
#вход из листа
mylist = [1,1,1,1,2,2,2,2,3,3,3,3,4]
s = set(mylist)
s

{1, 2, 3, 4}

In [11]:
#длина множества
len(s)

4

In [12]:
#проверка вхождения
print(1 in s)
print(5 in s)

True
False

In [13]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5}

In [14]:
#подмножества
set1.issubset(set2)

True

In [15]:
set2.issubset(set1)

False

In [16]:
#надмножества
set2.issuperset(set1)

True

In [17]:
#проверка пересечения множеств
set1 = {1,2,3}
set2 = {4,5,6}
set1.isdisjoint(set2)

True

In [28]:
#объединение
set1 = {1,2,3,4,6}
set2 = {1,2,3,4,5}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6}

In [29]:
#пересечение
set3 = set1.intersection(set2)
set3

{1, 2, 3, 4}

In [30]:
#difference and symmetric difference
set3 = set1.difference(set2)
print(set3)
set4 = set1.symmetric_difference(set2)
print(set4)

{6}
{5, 6}

In [31]:
#update (модификация set1 )
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6}

In [32]:
#удаление
set1.remove(1)
print(set1)
#set1.remove(42)

{2, 3, 4, 5, 6}

In [33]:
set1.discard(2)
print(set1)
set1.discard(35)
print(set1)

{3, 4, 5, 6}
{3, 4, 5, 6}

In [34]:
#удаление случайного элемента
popped_out_element = set1.pop()
print(popped_out_element)

3

In [35]:
set1.clear()
set1

set()